.privateImageViewer{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    position: absolute;
    z-index:99;
}

.privateImageViewer::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.privateChatMain {
    width: 100%;
    height: 100%;
    /* z-index: 99; */
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    transition: 0.25s cubic-bezier(.45,.38,.08,1);
}

.chatWindowPanel{
    height: 100%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 12.5%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2% 0 2%;
    border-bottom: 1px solid rgba(68, 121, 131, 0.1);
    cursor: pointer;
}

.chatWindow{
    width: 100%;
    flex: 1;
    padding: 25px 75px;
    /* padding: clamp(25px 75px, 25px 150px , 25px 12.5vw); */
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    /* background-color: #212327; */
}

.chatWindow::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.chatWindow::-webkit-scrollbar-thumb {
    background-color: #DE4B1E;
}

.sendArea{
    width: 100%;
    height: 7.5%;
    /* display: grid; */
    /* place-items: center; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}