.body{
    flex: 1;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: 1em 1em 1em 1em;
  overflow: hidden;
  position: relative;
  min-width: 360px;
}

.body::before{
    content: '';
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 13%;
    background-image: url('https://stupefied-meninsky-1b99f4.netlify.app/BackDrawingOriginal-withbg.eedd5bcd092c71ad6e80.png');
  }
 .AuthSection{
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
    // backdrop-filter: blur( 5.5px );
    // -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 1em;
    // border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 70%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
 }

