.authWindow::before {
	content: "";
	position: absolute;
	background-size: cover;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/* z-index: 1; */
	opacity: 0.05;
	background-image: url("../../../Images/BackDrawingOriginal-withbg.png");
}


// .background{
//   svg {
//     // width: 300px;
//     opacity: 0.05;
//     display: block;
//     position: absolute;

//     path {
//       stroke-dasharray: 340;
//       stroke-dashoffset: 40;
//       // animation: dash 50s linear alternate infinite;
//     }

//     path {
//       stroke-dasharray: 320;
//       stroke-dashoffset: 320;
//       // animation: dash2 50s linear alternate infinite;
//       stroke: #eb683f;
//     }

//     @keyframes dash {
//       from {
//         stroke-dashoffset: 360;
//       }
//       to {
//         stroke-dashoffset: 40;
//       }
//     }

//     @keyframes dash2 {
//       from {
//         stroke-dashoffset: 280;
//       }
//       to {
//         stroke-dashoffset: -40;
//       }
//     }
//   }
// }

.authWindow {
	flex: 1;
	height: 100%;
	background-color: var(--Appbody);
	border-radius: 1em;
	overflow: hidden;
	position: relative;
	// min-width: 360px;
}

@media only screen and (max-width: 576px) {
	.authWindow {
		border-radius: 0;
	}
}
