@import './NewDateDivider.scss', './ChatIn.scss', './ChatOut.scss', './Header.scss', './ImageIn.scss', './ImageOut.scss', './ImageViewer.scss', './NewDateDivider.scss', './PrivateChatComponent.scss', './ProfileInfo.scss', './SendArea.scss', './VoiceMessage.scss';

//Write Common stylings here.
.urlDecor{
    color: #529ec4;
}

.chatOutBox > span, .chatInBox > span,.chatOutBoxWO > span, .chatInBoxWO > span{
    font-size: 0.75rem;
    font-weight: 400;
    margin: 2.5px 5px 5px 5px;
    word-break: break-word;
    line-height: 1.5;
    text-align: initial;
    display: flow-root;
    unicode-bidi: plaintext;
    white-space: pre-wrap;
}

.metaInfoSection{
    width:100%;
    height:fit-content;
    min-height: 75px;
    max-height: 80px;
    background-color: rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    border-left: 4px solid #DE4B1E;
    cursor: pointer;
}

.metaTitle{
    font-size: 0.9rem;
    font-weight: 400;
}

.metaDescription{
    font-size: 0.75rem;
    font-weight: 300;
    margin: 2.5px 5px 5px 5px;
    word-break: break-word;
    line-height: 1.5;
    text-align: initial;
    display: flow-root;
    unicode-bidi: plaintext;
}

.metaInfoSection > img {
    max-height: 85px;
    width:auto;
    aspect-ratio: 1/1;
}

.metaInfoSection div {
    flex: 1;
    /* max-height: 50px; */
    padding: 5px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.timeStamp{
    font-size: 0.7rem !important;
    font-weight: 300 !important;
    align-self: flex-end;
}

.chatOutBoxImage > span, .chatInBoxImage > span{
    font-size: 0.75rem;
    font-weight: 400;
    margin: 2.5px 5px 5px 5px;
    word-break: break-word;
    line-height: 1.5;
    text-align: initial;
    display: flow-root;
    unicode-bidi: plaintext;
}

.chatInBoxImage > span > img,.chatOutBoxImage > span > img {
    width: 100%;
    max-width: 350px;
    max-height: 400px;
    margin: 5px 0 5px 0;
    object-fit: cover;
    border-radius: 0.5em;
}

.name{
    font-weight: 600;
    /* font-size: 0.9em; */
    font-size: clamp(0.9rem, 2.5vh, 1.1rem);
}

.about{
    font-weight: 300;
    /* font-size: 0.65em; */
    font-size: clamp(0.5rem, 2.5vh, 0.75rem);
}

.state{
    font-weight: 500;
    /* font-size: 0.7em;  */
    font-size: clamp(0.5rem, 2.5vh, 0.75rem); 
}

@media (max-width: 370px) { 
    .about{
        display: none;
    }
 }
