.chatInBox{
    max-width: 65%;
    width: fit-content;
    padding: 0.5em 0.5em 0.1em 0.8em;
    margin-bottom: 10px;
    background-color: var(--chatIn);
    position: relative;
    border-radius: 0 0.75em 0.75em 0.75em;
    display: flex;
    flex-direction: column;
}

.chatInBoxWO{
    max-width: 65%;
    width: fit-content;
    padding: 0.5em 0.5em 0.1em 0.8em;
    margin-bottom: 10px;
    background-color: var(--chatIn);
    position: relative;
    border-radius:  0.75em;
    display: flex;
    flex-direction: column;
}

.chatInBox::after {
    content: '';
    position: absolute;
    border: .5em solid transparent;
    border-top-color: var(--chatIn);
    border-right-color: var(--chatIn);
    right: 100%;
    top: 0%;
}

.timeStampIn{
    font-size: 0.7rem !important;
    font-weight: 300 !important;
    /* align-self: flex-end; */
}

@media (max-width: 575.98px) { 
    .chatInBox,.chatInBoxWO{
        max-width: 85%;
    }
 }