.chatInBox{
    max-width: 65%;
    width: fit-content;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    position: relative;
    border-radius: 0 0.75em 0.75em 0.75em;
    display: flex;
    flex-direction: column;
}

.chatInBoxWO{
    max-width: 65%;
    width: fit-content;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    position: relative;
    border-radius:  0.75em;
    display: flex;
    flex-direction: column;
}

.chatInBox::after {
    content: '';
    position: absolute;
    border: .5em solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    right: 100%;
    top: 0%;
}

.timeStampIn{
    font-size: 0.7rem !important;
    font-weight: 300 !important;
    /* align-self: flex-end; */
}