.contactInfo{
    flex: 1;
    height: 100%;
    /* background-color: #212327; */
    display: flex;
    flex-direction: column;
    padding: 0 1% 0 1%;
    justify-content: center;
}

.contactProfilePicture{
    border-radius: 3em;
    height: 60px;
    max-height: 60px;
    width: auto;
    margin: 0.5em;
}

.contactProfilePicture_online{
    border-radius: 3em;
    height: 60px;
    max-height: 60px;
    width: auto;
    margin: 0.5em;
    border: 3px solid #57CD44;
}