.chatOutBoxImage{
    right: 0;
    position: relative;
    margin-left: auto;
    max-width: 400px;
    width: fit-content;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #ffbe7b;
    border-radius: 0.75em 0 0.75em 0.75em;
    display: flex;
    flex-direction: column;
}

.chatOutBoxImage::after {
    content: '';
    position: absolute;
    border: .5em solid transparent;
    border-top-color: #ffbe7b;
    border-left-color: #ffbe7b;
    left: 100%;
    top: 0%;
}
