.chatInBoxImage{
    max-width: 400px;
    width: fit-content;
    padding: 5px 5px;
    margin-bottom: 10px;
    background-color: var(--chatIn);
    position: relative;
    border-radius: 0 0.75em 0.75em 0.75em;
    display: flex;
    flex-direction: column;
}

.chatInBoxImage::after {
    content: '';
    position: absolute;
    border: .5em solid transparent;
    border-top-color: var(--chatIn);
    border-right-color: var(--chatIn);
    right: 100%;
    top: 0%;
}
