/* Import All Fonts Here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins';
  /* font-family: 'Archivo', sans-serif; */
  /* font-family: 'DM Sans', sans-serif; */
  /* overflow: hidden; */
}

html,body,#root{
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0;
  background-color: #373737;
  overflow: auto;
  min-height: 600px;
  color: #222222;
}

#root{
  padding: 1rem;
}

.App {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.9em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: flex;
}

.Appbar{
  width: 30%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f8f8f8;
  border-radius: 1em 0 0 1em;
  padding: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 360px;
  border-right: 1px solid rgba(62, 68, 69, 0.1);

}

.Appbody{
  flex: 1;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: 0 1em 1em 0;
  overflow: hidden;
  position: relative;
  min-width: 360px;
  /* background-image: url('https://stupefied-meninsky-1b99f4.netlify.app/BackDrawingOriginal-withbg.eedd5bcd092c71ad6e80.png'); */
}

.Appbody::before{
  content: '';
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* z-index: 1; */
  opacity: 0.05;
  background-image: url('./Images/BackDrawingOriginal-withbg.png');
}

.icon{
  margin-bottom: 25%;
}

.not-selected-icon svg, .selected-icon svg{
  overflow: visible;
}

g#Petals, path#IconBG{
  /* display: none; */
  transform-origin: center center;
  opacity: 0;
  transition: 0.5s;
}

/* path#IconBG{
  fill: #f8f8f8;
} */

.selected-icon path#IconBG{
  display: block;
  fill: #f8846085;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  opacity: 1;
  -webkit-transform: rotate(360deg) scale(1.5);
  transform: rotate(360deg) scale(1.5);  
  transition: 0.2s;
}

/* .selected-icon  g#Petals{
  display: block;
  opacity: 0.3;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);    
} */

.not-selected-icon:hover g#Petals{
  display: block;
  opacity: 0.35;
  -webkit-transform: rotate(360deg) scale(1.6);
  transform: rotate(360deg) scale(1.6);  
  transition: 0.25s;
}

.not-selected-icon:hover g#Icon{
  filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.35));
  transition: 0.375s;
}

.not-selected-icon:hover path#IconBG{
  display: block;
  fill: #f8846085;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  opacity: 1;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.25s;  
}

@media (max-width:  370px) {
  .Appbar{
    min-width: 280px;
    padding:0.3rem 0.3rem 0.3rem 0.3rem !important;
  }
  .Appbody{
    min-width: 280px;
  }
}


@media (max-width:  767.98px) { 
  .Appbar{
    transition: 0.3s;
    position: fixed;
    z-index: 1;
    width: 100%;

  }
  .Appbody{
    pointer-events: none;
    opacity: 0.5;
  }

  .collapse{
    transform: translateX(-100%);
  }
 }

 @media (min-width: 576px) and (max-width: 767.98px) { 
   .Appbar{
     max-width: 405px;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
  .Appbar{
    min-width:300px;
  }
 }

@media (max-width: 991.98px) { 
  #root{
    padding: 0;
  }

  .Appbar{
    border-radius: 0;
    padding: 1rem 0 1rem 0.6rem;
  }

  .Appbody{
    border-radius: 0;
   
  }
}

